{% extends "nav.html" %}

{% block styles %}
    <style>
        #dashboard-container {
            width: 100%;
            height: 80vh; /* Adjust height as needed */
            border: none;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Embed the Dash dashboard -->
    <h2>Account Dashboard</h2>
    
    {% if dash_url %}
        <iframe id="dashboard-container" src="{{ dash_url }}" width="100%" height="100%" frameborder="0"></iframe>
    {% else %}
        <p>Select an inbox to view the dashboard.</p>
    {% endif %}
{% endblock %}